* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.regions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.region {
  text-align: center;
  width: 140px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  color: black;
}

.region-list {
  list-style: none;
}
